In [1]:
import os
import pandas as pd

# save the filepaths for the data
school_data_file = os.path.join("Resources", "schools_complete.csv")
students_data_file = os.path.join("Resources", "students_complete.csv")

In [2]:
# Load the data
students_df = pd.read_csv(students_data_file)
schools_df = pd.read_csv(school_data_file)
students_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [3]:
# students_df['student_name'][3] has a prefix that should not be there, these are high school kids not Doctor's. I need to find and clean the names of improper prefixes and suffixes.
students_names = students_df['student_name'].tolist()
prefixes = list()
suffixes = list()

# iterate through the names looking for the ones that need fixed.
for index, name in enumerate(students_names):
    if len(name.split(" ")) >=3:    
        if len(name.split(' ')[0]) <= 4:  # save the prefixes of the names that need fixed
            prefixes.append(name.split(' ')[0]) 
        else:
            pass
        if len(name.split(' ')[-1]) <= 3:    # save the suffixes of the names that need fixed
            suffixes.append(name.split(' ')[-1])

# make the prefixes and suffixes lists contain only unique terms
prefixes = list(set(prefixes)) 
suffixes = list(set(suffixes))

# print(suffixes)  # used the terminal print to manually find the unwanted prefixes and suffixes amoung the list of names that were saved by the filter.
prefixes_suffixes = [' MD', ' PhD', ' DDS', ' DVM', 'Dr. ', 'Miss ', 'Mr. ', 'Mrs. ', 'Ms. ']

# find and fix the prefixes and suffixes, do not delete the names or family names that were saved by the filter.
for word in prefixes_suffixes:
    students_df['student_name'] = students_df['student_name'].str.replace(word, '')

students_df.head()

C:\Users\Nick\anaconda3\envs\PyCity\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# merge all the data into one dataframe
all_df = students_df.merge(schools_df, on='school_name')

# Gather data for the whole district and create a summary: , , % passed in subject, % passed both
budget = all_df['budget'].unique().sum()    # total budget
total_schools = len(all_df['school_name'].unique())    # total number of schools in the district
total_students = all_df['Student ID'].count()    # total students
math_mean = all_df['math_score'].mean()    # average test scores for math
reading_mean = all_df['reading_score'].mean()    # average test scores for reading
pass_math = all_df[all_df['math_score'] >= 70]['Student ID'].count()    # total students passing math
pass_reading = all_df[all_df['reading_score'] >= 70]['Student ID'].count()    # total students passing reading
pass_math_reading = all_df[(all_df['math_score'] >= 70) & (all_df['reading_score'] >= 70)]['Student ID'].count() # total students passing both subjects
math_passing_percent = pass_math / total_students*100    # percent of students passing math
reading_passing_percent = pass_reading / total_students*100    # percent of students passing reading 
pass_both_percent = pass_math_reading/total_students*100    # percent of students passing both subjects

district_summary_df = pd.DataFrame([{'Total Schools':total_schools, 'Total Budget':budget, 'Total Students': total_students, 'Average Math Score':math_mean, 'Average Reading Score':reading_mean, '% Passing Math':math_passing_percent, '% Passing Reading':reading_passing_percent, '% Overall Passing':pass_both_percent}])

# save a copy of the df for future analysis, str formatting will prevent math functions from working
list_of_summary_dfs = [district_summary_df.copy()]

# district_summary_df
all_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:

# format the District Summary DataFrame
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df['% Passing Math'] = district_summary_df["% Passing Math"].map("{:.1f}%".format)
district_summary_df['% Passing Reading'] = district_summary_df["% Passing Reading"].map("{:.1f}%".format)
district_summary_df['% Overall Passing'] = district_summary_df["% Overall Passing"].map("{:.1f}%".format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:.1f}".format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:.1f}".format)

formatted_summary_dfs = [district_summary_df]

In [6]:
# New Dataframe to be the summary of all the school information
school_summary_df = pd.DataFrame()

# School type with the school names as the index
school_summary_df['School Type']= schools_df.set_index(['school_name'])['type']

# Total students
school_summary_df['Total Students'] = all_df['school_name'].value_counts()

# Total Budget
school_summary_df['Budget'] = schools_df.set_index(['school_name'])['budget']

# Total Budget per Student
school_summary_df['Budget Per Student'] = school_summary_df['Budget']/school_summary_df['Total Students']

# Average math and reading scores 
per_school_mean = all_df.groupby(['school_name']).mean()
school_summary_df['Average Math Score'] = per_school_mean['math_score'] 
school_summary_df['Average Reading Score'] = per_school_mean['reading_score'] 

# % passing math
passing_math = all_df[all_df['math_score'] >= 70].groupby(['school_name']).count()
school_summary_df['% Passing Math'] = (passing_math['math_score']/school_summary_df['Total Students'])*100

# % passing reading
passing_reading = all_df[all_df['reading_score'] >= 70].groupby(['school_name']).count()
school_summary_df['% Passing Reading'] = (passing_reading['reading_score']/school_summary_df['Total Students'])*100

# % overall passing
overall_passing = all_df[(all_df['math_score'] >= 70) & (all_df['reading_score'] >= 70)].groupby(['school_name']).count()
school_summary_df['% Passing Overall'] = (overall_passing['math_score']/school_summary_df['Total Students'])*100

# save a copy of the df for future analysis, str formatting will prevent math functions from working
list_of_summary_dfs.append(school_summary_df.copy())

In [7]:

# Format the school summary table
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Budget"] = school_summary_df["Budget"].map("${:,.2f}".format)
school_summary_df["Budget Per Student"] = school_summary_df["Budget Per Student"].map("${:,.2f}".format)
school_summary_df['% Passing Math'] = school_summary_df["% Passing Math"].map("{:.1f}%".format)
school_summary_df['% Passing Reading'] = school_summary_df["% Passing Reading"].map("{:.1f}%".format)
school_summary_df['% Passing Overall'] = school_summary_df["% Passing Overall"].map("{:.1f}%".format)
school_summary_df['Average Math Score'] = school_summary_df['Average Math Score'].map("{:.1f}".format)
school_summary_df['Average Reading Score'] = school_summary_df['Average Reading Score'].map("{:.1f}".format)
formatted_summary_dfs.append(school_summary_df)

In [8]:
# find the top 5 Best performing schools
school_summary_df.sort_values(['% Passing Overall'], ascending=False).head(5)

,School Type,Total Students,Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94.1%,97.0%,91.3%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4,83.8,93.3%,97.3%,90.9%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93.4%,97.1%,90.6%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3,84.0,93.9%,96.5%,90.6%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,94.6%,95.9%,90.5%

In [9]:
# find the top 5 worst performing schools
school_summary_df.sort_values(['% Passing Overall'], ascending=True).head(5)

,School Type,Total Students,Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8,80.7,66.4%,80.2%,53.0%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66.0%,80.7%,53.2%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6,81.2,65.7%,81.3%,53.5%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3,80.9,66.8%,80.9%,53.5%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.1,81.0,66.1%,81.2%,53.5%

In [10]:
# find the stats about the average math and reading scores for each grade within each school. 9th, 10th, 11th, 12th.

# average math scores by grade
math_grade_level_df = pd.DataFrame()
math_grade_level_df['9th'] = all_df[all_df['grade']=='9th'].groupby(['school_name']).mean()['math_score'].map("{:.1f}".format)
math_grade_level_df['10th'] = all_df[all_df['grade']=='10th'].groupby(['school_name']).mean()['math_score'].map("{:.1f}".format)
math_grade_level_df['11th'] = all_df[all_df['grade']=='11th'].groupby(['school_name']).mean()['math_score'].map("{:.1f}".format)
math_grade_level_df['12th'] = all_df[all_df['grade']=='12th'].groupby(['school_name']).mean()['math_score'].map("{:.1f}".format)
math_grade_level_df.index.name = None
math_grade_level_df

                        9th  10th  11th  12th
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School     83.6  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

In [11]:
# average reading scores by grade
reading_grade_level_df = pd.DataFrame()
reading_grade_level_df['9th'] = all_df[all_df['grade']=='9th'].groupby(['school_name']).mean()['reading_score'].map("{:.1f}".format)
reading_grade_level_df['10th'] = all_df[all_df['grade']=='10th'].groupby(['school_name']).mean()['reading_score'].map("{:.1f}".format)
reading_grade_level_df['11th'] = all_df[all_df['grade']=='11th'].groupby(['school_name']).mean()['reading_score'].map("{:.1f}".format)
reading_grade_level_df['12th'] = all_df[all_df['grade']=='12th'].groupby(['school_name']).mean()['reading_score'].map("{:.1f}".format)
reading_grade_level_df.index.name = None
reading_grade_level_df

                        9th  10th  11th  12th
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1

In [12]:
# create a statistical table based on the budget per student for average scores and % passing
#stat ranges for budget per student will be as follows:  row1 = min upto 25%; row2 = 25% to 50%; row3 = 50% to 75%; row4 = 75% to max

total_students_series = all_df.groupby(['school_name']).count()['size']  
budget_stats = (schools_df.set_index('school_name')['budget'] /total_students_series).describe()



# Find the Average Math and Reading scores

# try filtering all_df for those schools
spending_buckets = [0, budget_stats['25%'], budget_stats['50%'], budget_stats['75%'], budget_stats['max']]
# pd.cut(budget_df['Budget Per Student'], spending_buckets)
spending_group_names = [f"<{budget_stats['25%']}", 
               f"{budget_stats['25%']}-{budget_stats['50%']}", 
               f"{budget_stats['50%']}-{budget_stats['75%']}", 
               f">{budget_stats['75%']}" ]
list_of_summary_dfs[1]["Spending Ranges (Per Student)"] = pd.cut(list_of_summary_dfs[1]['Budget Per Student'], spending_buckets, labels=spending_group_names)
list_of_summary_dfs[1]

,School Type,Total Students,Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,>641.5
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,628.0-641.5
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,591.5-628.0
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,>641.5
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,591.5-628.0
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<591.5
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<591.5
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,591.5-628.0
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<591.5
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,591.5-628.0
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<591.5
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,628.0-641.5
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,>641.5
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,>641.5
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,628.0-641.5

In [13]:
spending_summary = list_of_summary_dfs[1].groupby(['Spending Ranges (Per Student)']).mean()

In [14]:
del spending_summary['Total Students'], spending_summary['Budget'], spending_summary['Budget Per Student']

In [15]:
# save a copy of the df for future analysis, str formatting will prevent math functions from working
list_of_summary_dfs.append(spending_summary.copy())


spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Ranges (Per Student),,,,,
<591.5,83.455399,83.933814,93.460096,96.610877,90.369459
591.5-628.0,81.899826,83.155286,87.133538,92.718205,81.418596
628.0-641.5,78.990942,81.917212,75.209078,86.089386,65.713578
>641.5,77.023555,80.957446,66.701010,80.675217,53.717613

In [16]:
# school_size_summary: small: <= 1k; Medium: 1k - 2k; Large 2k-5k  students
school_stats = list_of_summary_dfs[1]['Total Students'].describe()
school_buckets = [0, school_stats['25%'], school_stats['50%'], school_stats['75%'], school_stats['max']]
school_size = [f'Small: <={school_stats["25%"]:,}', 
               f'Medium: {school_stats["25%"]:,}-{school_stats["50%"]:,}', 
               f'Large: {school_stats["50%"]:,}-{school_stats["75%"]:,}', 
               f"Extra Large: >{school_stats['75%']}" ]


list_of_summary_dfs[1]["School Size"] = pd.cut(list_of_summary_dfs[1]['Total Students'], school_buckets, labels=school_size)
school_size_summary = list_of_summary_dfs[1].groupby('School Size').mean()

In [17]:
del school_size_summary['Budget'], school_size_summary['Total Students'], school_size_summary['Budget Per Student']

# save a copy of the df for future analysis, str formatting will prevent math functions from working
list_of_summary_dfs.append(school_size_summary.copy())

In [18]:
# format spending_summary and school_size_summary

school_size_summary['Average Math Score'] = school_size_summary['Average Math Score'].map("{:.1f}".format)
school_size_summary['Average Reading Score'] = school_size_summary['Average Reading Score'].map("{:.1f}".format)
school_size_summary['% Passing Math'] = school_size_summary['% Passing Math'].map("{:.1f}%".format)
school_size_summary['% Passing Reading'] = school_size_summary['% Passing Reading'].map("{:.1f}%".format)
school_size_summary['% Passing Overall'] = school_size_summary['% Passing Overall'].map("{:.1f}%".format)
school_size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
"Small: <=1,698.0",83.6,83.9,93.4%,96.7%,90.3%
"Medium: 1,698.0-2,283.0",83.3,83.9,93.8%,96.5%,90.5%
"Large: 2,283.0-3,474.0",76.8,81.0,66.7%,80.5%,53.7%
Extra Large: >3474.0,77.1,80.9,66.5%,81.1%,53.7%

In [19]:
spending_summary['Average Math Score'] = spending_summary['Average Math Score'].map("{:.1f}".format)
spending_summary['Average Reading Score'] = spending_summary['Average Reading Score'].map("{:.1f}".format)
spending_summary['% Passing Math'] = spending_summary['% Passing Math'].map("{:.1f}%".format)
spending_summary['% Passing Reading'] = spending_summary['% Passing Reading'].map("{:.1f}%".format)
spending_summary['% Passing Overall'] = spending_summary['% Passing Overall'].map("{:.1f}%".format)

In [22]:
formatted_summary_dfs.append(spending_summary)
formatted_summary_dfs.append(school_size_summary)

In [24]:
list_of_summary_dfs

[   Total Schools  Total Budget  Total Students  Average Math Score  \
 0             15      24649428           39170           78.985371

    Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
 0               81.87784       74.980853          85.805463          65.172326  ,
                       School Type  Total Students   Budget  \
 school_name
 Huang High School        District            2917  1910635
 Figueroa High School     District            2949  1884411
 Shelton High School       Charter            1761  1056600
 Hernandez High School    District            4635  3022020
 Griffin High School       Charter            1468   917500
 Wilson High School        Charter            2283  1319574
 Cabrera High School       Charter            1858  1081356
 Bailey High School       District            4976  3124928
 Holden High School        Charter             427   248087
 Pena High School          Charter             962   585858
 Wright High School        Charter            1800  1049400
 Rodriguez High School    District            3999  2547363
 Johnson High School      District            4761  3094650
 Ford High School         District            2739  1763916
 Thomas High School        Charter            1635  1043130

                        Budget Per Student  Average Math Score  \
 school_name
 Huang High School                   655.0           76.629414
 Figueroa High School                639.0           76.711767
 Shelton High School                 600.0           83.359455
 Hernandez High School               652.0           77.289752
 Griffin High School                 625.0           83.351499
 Wilson High School                  578.0           83.274201
 Cabrera High School                 582.0           83.061895
 Bailey High School                  628.0           77.048432
 Holden High School                  581.0           83.803279
 Pena High School                    609.0           83.839917
 Wright High School                  583.0           83.682222
 Rodriguez High School               637.0           76.842711
 Johnson High School                 650.0           77.072464
 Ford High School                    644.0           77.102592
 Thomas High School                  638.0           83.418349

                        Average Reading Score  % Passing Math  \
 school_name
 Huang High School                  81.182722       65.683922
 Figueroa High School               81.158020       65.988471
 Shelton High School                83.725724       93.867121
 Hernandez High School              80.934412       66.752967
 Griffin High School                83.816757       93.392371
 Wilson High School                 83.989488       93.867718
 Cabrera High School                83.975780       94.133477
 Bailey High School                 81.033963       66.680064
 Holden High School                 83.814988       92.505855
 Pena High School                   84.044699       94.594595
 Wright High School                 83.955000       93.333333
 Rodriguez High School              80.744686       66.366592
 Johnson High School                80.966394       66.057551
 Ford High School                   80.746258       68.309602
 Thomas High School                 83.848930       93.272171

                        % Passing Reading  % Passing Overall  \
 school_name
 Huang High School              81.316421          53.513884
 Figueroa High School           80.739234          53.204476
 Shelton High School            95.854628          89.892107
 Hernandez High School          80.862999          53.527508
 Griffin High School            97.138965          90.599455
 Wilson High School             96.539641          90.582567
 Cabrera High School            97.039828          91.334769
 Bailey High School             81.933280          54.642283
 Holden High School             96.252927          89.227166
 Pena High School               95.945946          90.540541
 Wright High School             96.611111          90.333333
 Rodriguez High School          80.220055          52.988247
 Johnson High School            81.222432          53.539172
 Ford High School               79.299014          54.289887
 Thomas High School             97.308869          90.948012

                       Spending Ranges (Per Student)              School Size
 school_name
 Huang High School                            >641.5   Large: 2,283.0-3,474.0
 Figueroa High School                    628.0-641.5   Large: 2,283.0-3,474.0
 Shelton High School                     591.5-628.0  Medium: 1,698.0-2,283.0
 Hernandez High School                        >641.5     Extra Large: >3474.0
 Griffin High School                     591.5-628.0         Small: <=1,698.0
 Wilson High School                           <591.5  Medium: 1,698.0-2,283.0
 Cabrera High School                          <591.5  Medium: 1,698.0-2,283.0
 Bailey High School                      591.5-628.0     Extra Large: >3474.0
 Holden High School                           <591.5         Small: <=1,698.0
 Pena High School                        591.5-628.0         Small: <=1,698.0
 Wright High School                           <591.5  Medium: 1,698.0-2,283.0
 Rodriguez High School                   628.0-641.5     Extra Large: >3474.0
 Johnson High School                          >641.5     Extra Large: >3474.0
 Ford High School                             >641.5   Large: 2,283.0-3,474.0
 Thomas High School                      628.0-641.5         Small: <=1,698.0  ,
                                Average Math Score  Average Reading Score  \
 Spending Ranges (Per Student)
 <591.5                                  83.455399              83.933814
 591.5-628.0                             81.899826              83.155286
 628.0-641.5                             78.990942              81.917212
 >641.5                                  77.023555              80.957446

                                % Passing Math  % Passing Reading  \
 Spending Ranges (Per Student)
 <591.5                              93.460096          96.610877
 591.5-628.0                         87.133538          92.718205
 628.0-641.5                         75.209078          86.089386
 >641.5                              66.701010          80.675217

                                % Passing Overall
 Spending Ranges (Per Student)
 <591.5                                 90.369459
 591.5-628.0                            81.418596
 628.0-641.5                            65.713578
 >641.5                                 53.717613  ,
                          Average Math Score  Average Reading Score  \
 School Size
 Small: <=1,698.0                  83.603261              83.881343
 Medium: 1,698.0-2,283.0           83.344443              83.911498
 Large: 2,283.0-3,474.0            76.814591              81.029000
 Extra Large: >3474.0              77.063340              80.919864

                          % Passing Math  % Passing Reading  % Passing Overall
 School Size
 Small: <=1,698.0              93.441248          96.661677          90.328794
 Medium: 1,698.0-2,283.0       93.800412          96.511302          90.535694
 Large: 2,283.0-3,474.0        66.660665          80.451556          53.669416
 Extra Large: >3474.0          66.464293          81.059691          53.674303  ]